{% extends "base.html" %}
{% load static %}
{% block title %}Select a Form{% endblock %}
{% block content %}
<h2 class="text-center">Choose a Form to Fill Out</h2>
<div class="text-center mt-4">
    <a class="btn btn-primary mx-2" href="{% url 'generate_filled_pdf' 'posthumous_degree' %}">
        Fill & Download Posthumous Degree Form
    </a>
    <a class="btn btn-secondary mx-2" href="{% url 'generate_filled_pdf' 'term_withdrawal' %}">
        Fill & Download Term Withdrawal Form
    </a>
</div>
<p class="text-center mt-3">
    Click on a form to view or download it. (Make sure you have a PDF reader to fill out the form.)
</p>
{% endblock %}
